.background{
    background-color: orangered;
}

.name_list{
    align-items: flex-start;
}

.card{
    color: black;
    display: flex;
    align-items: center;
    border-color: grey ;
}

.text-decoration{
    color: red;
    text-decoration: dashed;
}

.text-red{
    color: red;
}